<%= render 'shared/breadcrumbs', category: @post.category %>
<article class="post">
	<section class="post-head">
		<h2><%= @post.title %></h2>
		<small>
			<time><a class="material-icons" style="font-size:20px;">today</a><%= @post.created_at.to_date.strftime("%d %B, %Y") %> </time>
			<% if @post.category.present?  %>
			|
			<span>Категория: </span><%= link_to  @post.category.name, @post.category %>
			<% end %>
			<% if user_signed_in? && current_user.admin?%>
				|
				<%= link_to 'create', edit_admin_post_path(@post), class: 'material-icons'%>
	            |
				<%= link_to 'delete' , admin_post_path(@post), method: :delete, data: { confirm: 'Вы уверены ?'}, class: 'material-icons'%>
			<% end %>
				<div class="views">
				  <p> <a class="material-icons" style="font-size:20px;">chat</a> 0</p>
		          <p> <a class="material-icons" style="font-size:20px;">visibility</a> <%= @post.views %></p>
		          
		        </div>
		</small>
	</section>
    <section class="post-body">
        <%= image_tag @post.image.url(:large), class: 'image-show' if @post.image?%>
		<%= @post.body.html_safe %>
	</section>
	<%= render 'disqus'%>
</article>

