<!DOCTYPE html>
<html>
  <head>
    <title>OxygenBlog</title>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/header'%>
    <div class="container main ">
     <div class="row">
         <div class="col-md-12">
            <% flash.each do |name,message|%>
              <div class="alert <%= bootstrap_class_for(name) %>">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= message%>
              </div>
            <% end %>
         </div>
     </div> 
       <div class="row">
          <div class="col-md-9 col-sm-pull-3 ">
  	           <%= yield %>
          </div>
             <div class="col-md-3 col-sm-push-9 right-bar slidebar ">
              <div class="wrap-slidebar">
                  <div class="rails-icon">
                    
                  </div>
                  <%= render 'shared/submenu' %>
                <div class="tag_cloud">   
                   <h4>Популярные теги <a class="material-icons cloud" style="font-size:32px;">cloud</a></h4>
                     <% tag_cloud(Tag.all , 'tag') do |tag, css_class| %> 
                     <%= link_to tag.name, tag_path(tag.name), class: css_class  %>
                   <% end %>
                </div>
              </div>
             </div>
       </div>
     </div> 
    <%= render 'shared/footer'%>
    <script type="text/javascript">
      $(document).ready(function($){
        $('.icon-menu').click(function(event){
          $('.slidebar').toggleClass('active-bar');
        });
      });

      $(document).mouseup(function (e) {
        var container = $(".slidebar");
          if (container.has(e.target).length === 0){
            container.removeClass('active-bar');
          }
      });

      
    </script>
  </body>
</html>